@import "https://fonts.googleapis.com/css2? family= Kanit:wght@300;400 & display=swap";
/* TIENDA GRID */
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

.botonera {
  background-color: black;
}
.botonera img {
  width: 150px;
}
.botonera a {
  color: white;
}

nav {
  background-color: black;
  padding: 6px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 12px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

footer {
  background-color: black;
  padding: 6px 30px;
  display: flex;
  justify-content: right;
  align-items: center;
}
footer svg {
  width: 30px;
  height: 30px;
  fill: white;
  margin-right: 12px;
}

header img {
  width: 100%;
}

main section {
  padding: 20px 30px;
}

.products-home {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-home figure {
  width: 30%;
  border: solid 1px black;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-home figure figcaption {
  color: black;
}
.products-home figure p {
  text-align: center;
  color: rgb(53, 53, 53);
}
.products-home figure button {
  border: none;
  background-color: rgb(26, 255, 26);
  padding: 6px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  margin: 10px;
}
.products-home figure button:hover {
  cursor: pointer;
  background-color: rgb(57, 255, 100);
}

.home {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  margin-right: 60px;
  align-items: center;
}

.products {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filters {
  padding: 0 20px 30px 30px;
}
.filters a {
  color: rgb(134, 130, 132);
  font-size: 1em;
  text-decoration: none;
  margin-bottom: 4px;
  text-transform: lowercase;
}
.filters a:hover {
  color: rgb(0, 0, 0);
}
.filters span {
  display: block;
  color: black;
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 300;
}
.filters label {
  font-size: 1em;
  font-weight: 300;
}
.filters select {
  color: black;
  border: none;
  background-color: white;
  margin-bottom: 10px;
  font-size: 1em;
}
.filters li {
  padding-left: 10px;
  list-style: none;
}

.tienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "filters prod1 prod2" "filters prod3 prod4" "filters prod5 prod6";
  gap: 5px;
}
.tienda .filters {
  grid-area: filters;
}
.tienda .prod1 {
  grid-area: prod1;
}
.tienda .prod2 {
  grid-area: prod2;
}
.tienda .prod3 {
  grid-area: prod3;
}
.tienda .prod4 {
  grid-area: prod4;
}
.tienda .prod5 {
  grid-area: prod5;
}
.tienda .prod6 {
  grid-area: prod6;
}

@media (width < 1065px) {
  .products-home figure {
    width: 50%;
  }
}
@media (width < 768px) {
  .products-home figure {
    width: 100%;
  }
  .tienda {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "filters" "prod1" "prod2" "prod3" "prod4" "prod5" "prod6";
  }
  .tienda .filters span {
    display: none;
  }
  .tienda .filters ul {
    display: none;
  }
  .tienda .filters label {
    display: none;
  }
  .tienda .filters input {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */