$color1: rgb(0, 0, 0);
$color2: rgb(0, 0, 0);
$color3: rgb(53, 53, 53);
$color4: rgb(0, 0, 0);
$color5: rgb(134, 130, 132);
$font-family_1: 'Kanit', sans-serif;
$background-color_1: black;
$background-color_2: rgb(26, 255, 26);
$background-color_3: rgb(0, 255, 47);
$background-color_4: white;